/* styles.css */

body{
	font-family: 'Raleway', 'Roboto', sans-serif;
}

/* set our grid layout */
.container{
	display: grid;

	grid-template-areas: 
		"header header header"
		"sidenav content aside"
		"footer footer footer";

	grid-template-columns:200px 1fr 200px;
	grid-template-rows:auto 1fr auto;
	grid-gap: 10px;
	height:100vh;
}

/* add some responsive styles */
@media (max-width: 796px){
	.container{
		grid-template-areas:
		   "header"
		   "sidenav"
		   "content"
		   "aside"
		   "footer";
		grid-template-columns:1fr;   
		grid-template-rows:
			auto /* header */
			minmax(75px,auto) /* nav */
			1fr /* content */
			minmax(75px,auto) /*aside */
			auto; /* footer */

		sidenav, aside {
			margin:0;
		}			
	}
}

/* now define what tags are linked to our grid layout */

header{
	grid-area: header;
}

sidenav{
	grid-area: sidenav;
	border:1px solid black; 
}

content{
	grid-area:content;
}

aside{
	grid-area:aside;
	margin-right: 0.5rem;
}

footer{
	grid-area:footer;
	background-color:#D3D3D3;
}